<footer>
  <div class="container">
    <div class="footer-content">
      <p class="copyright">2025 Spark AI. Разработано Максимом Гильгенбергом</p>
      <div class="social-links">
        <a href="/donate" class="donate-button" aria-label="Поддержать проект"><i class="fa-solid fa-heart"></i> Поддержать проект</a>
        <a href="https://t.me/spark_uni" title="Telegram"><i class="fab fa-telegram"></i></a>
        <a href="https://www.youtube.com/@M13RIX" title="VK"><i class="fab fa-youtube"></i></a>
        <a href="https://t.me/spark_uni" title="Email"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
  </div>
</footer>
